
- content_for :body do
  %h1 TorqueBox STOMP-over-WebSockets Demo

  %form{ :method=>:post }
    %input{:type=>:text, :name=>:username}
    %input{:type=>:submit, :value=>'Login'}

  :javascript
    $('input:submit').button();