
%link{:rel=>'stylesheet', :href=>'/style.css'}
%link{:rel=>'stylesheet', :href=>'/jquery-ui-1.8.16.custom.css'}

%h1 TorqueBox STOMP-over-WebSockets Demo

%form{ :method=>:post }
  %input{:type=>:text, :name=>:username}
  %input{:type=>:submit, :value=>'Login'}


